.add-task-btn{
  background-color: #635FC7;
    width: 15%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 30px
}

.add-column-btn{
  background-color: #635FC7;
    width: 45%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 30px
}

.bottomPush{
  position: "fixed";
  bottom: 0;
  text-align: "center";
  padding-bottom: 10;
}

.dark {
  background-color: #333;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}


/* toggle btn */

